.body {
    background: url('../static/img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bodyfilter {
    background: url('../static/img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.login {
    width: 30em;
    height: 15em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    :global {
        .ant-form-item-label > label {
            color: #fff;
        }

        .ant-checkbox + span {
            color: #fff;
        }
    }
}

.btnGroup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 42px;

    :global {
        button, html [type="button"], [type="reset"], [type="submit"] {
            width: 10em;
            height: 3em;
            font-size: 1em;
        }
    }
}